<!-- Body -->
<h1>Ini adalah halaman Contact</h1>
<h3>Contact List</h3>
<table border="1">
  <tr>
    <td style="font-weight: bold; text-align: center;">Nama</td>
    <td style="font-weight: bold; text-align: center;">Email</td>
  </tr>
  <!-- pengkondisian jika Data tidak ada -->
  <% if (!contact.length) { %>
  <tr>
    <td colspan="2" style="color: red;">Data Tidak ada</td>
  </tr>
  <% } %>
  <!-- End Pengkondisian Error -->

  <!-- Mengambil array dari app menggunakan forEach -->
  <% contact.forEach(element => { %>
  <tr>
    <td><%= element.name %> </td>
    <td><%= element.email %> </td>
  </tr>
  <% }) %>
  <!-- End forEach -->
</table>